.login
{
    margin: 4rem 6rem;
    color :#2a2a2a;
}
.login form
{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}
.login input
{
    height: 3rem;
    padding: 0 1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
    border: 1px solid;
}
.form-container textarea
{
    
    padding:  1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
    border: 1px solid #2a2a2a;
}
.login button
{
    display: inline;
}
